.answerDiv {
  border: solid;
  height: 40px;
  width: 306px;
}

#firstValue {
    text-align: center;
    color: red;
}
.numberOne, .numberTwo,.numberThree,.numberFour,.numberFive,.numberSix,
.numberSeven,.numberEight,.numberNine,.numberZero {
  height: 30px;
  width: 90px;
  border-style: outset;
  margin: 3px;
}

/*.numberZero {
  margin:   auto;
}*/
.operatorButtons {
  border: solid;
  height: 400px;
  width: 8%;
}

.numericalButtons {
  /*border: solid;*/
  padding: 3px;
  height: 145px;
  width: 300px;

}
